body {
    padding: 50px;
    background: -moz-linear-gradient(top, #1381C5, #05B6A9);
    background: -ms-linear-gradient(top, #1381C5, #05B6A9);
    background: -webkit-linear-gradient(top, #1381C5, #05B6A9);
    background-attachment: fixed;
    color: #FFFFFF;
    font-size:21px;
}

blockquote.twitter-tweet {
	display: none;
}

@media (min-height: 400px) {
article {
    -webkit-columns: 4 500px;
    -webkit-column-gap: 2em;
    -webkit-column-rule: 3px dotted #ddd;
}

.uploaded-media {
	width:100%;
    max-width:700px;
    margin-bottom:20px;
}

h1 {
	font-size: 24px;
	margin: 0 0 15px 0;
	line-height: 40px;
	color: #FFF;
	font-weight: normal;
}

.twitter-logo {
	display: inline-block;
	height: 44px;
	width: auto;
	position: relative;
	top: -6px;
	margin: 0 10px 0 0;
}

.tweets-list {
    padding: 10px 10px;
    margin: 10px;
    min-height: 50px;
    overflow: hidden;
}

.tweets-list-item + .tweets-list-item {
    border-top: 1px solid #CCC;
    padding-top: 8px;
}

div.group {
    display: inline-block;
    width: 100%;
}