body {
    padding: 50px;
    background: -moz-linear-gradient(top, #1381C5, #05B6A9);
    background: -ms-linear-gradient(top, #1381C5, #05B6A9);
    background: -webkit-linear-gradient(top, #1381C5, #05B6A9);
    background-attachment: fixed;
    color: #000;
    font-size:21px;
    font-family: 'Roboto', sans-serif;
}

blockquote.twitter-tweet {
	display: none;
}

article {
    -webkit-columns: 4 500px;
    -webkit-column-gap: 2em;
    -webkit-column-rule: 3px dotted #ddd;
}

h1 {
	font-size: 24px;
	margin: 0 0 15px 0;
	line-height: 40px;
	color: #000;
	font-weight: normal;
}

.twitter-logo {
	display: inline-block;
	height: 44px;
	width: auto;
	position: relative;
	top: -6px;
	margin: 0 10px 0 0;
}

.tweets-list {
    padding: 10px 10px;
    margin: 10px;
    min-height: 50px;
    overflow: hidden;
}

.tweets-list-item + .tweets-list-item {
    border-top: 1px solid #CCC;
    padding-top: 8px;
}

div.group {
    display: inline-block;
    width: 100%;
}

.tweets-list-item{
  color: black;
  /*background: #e3e3e3;*/
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
width: 600px;
overflow: auto;

}

.tweet__user-image{
  border: #fff solid 1px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 5px;
  background: #fff;
  margin:5px;
}

.tweet__user-media {
    width 100%;
    margin: 0 auto;
}

.tweet__user-media__container{
  margin-bottom:20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 5px;
  margin:5px;
}

.tweet__user-media__border{
  width: 471px;
  margin: 0 auto;
}

.tweet__user-media__img{
  width: 100%;
}

.full-row{
  height: 100%;
}
.twitter-feed{
    /*background: white;*/
    height: 80%;
    display: block;
    float: left;
    position: absolute;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.twitter-feed__container{
  height:100%;
}

.tweet__user-name{
  font-style: italic;
  font-size:18px;
  color: #e3e3e3;
  text-decoration: underline;
}

.tweets__tweet{
  display: block;
  overflow: auto;
}

.tweet__user-tweet{
  color: #e3e3e3;
}
